/* Reset loginN4.css (except display properties) */
html,
body {
  padding: 0;
  margin: 0;
}
#login-logo-container {
  text-align: inherit;
  padding: 0;
}
#login-form-container,
.login-input,
#login-submit {
  font: normal;
}
#login-form-container {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-border-radius: 3px;
  border-radius: 0;
  -moz-box-shadow: 0 0 9px #69707a;
  -webkit-box-shadow: 0 0 9px #69707a;
  box-shadow: none;
}
#login-title-container {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}
noscript {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  -moz-border-radius: 3px;
  border-radius: 0;
  max-width: none;
}
#login-title {
  padding: 0;
  color: inherit;
}
#login-credentials {
  padding: 0;
  float: none;
}
#login-form {
  text-align: inherit;
  display: inline-block;
  padding: 0;
  width: auto;
}
.login-label {
  display: table-cell;
  text-align: inherit;
}
.login-input {
  display: table-cell;
  margin: 0;
}
.login-group {
  display: table-row;
}
#login-submit {
  float: none;
  margin-top: 0;
  margin-bottom: 0;
}
#yes-submit {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
#no-submit {
  margin-top: 0;
  margin-bottom: 0;
}
#pass-exp-submit {
  float: none;
}
#login-image {
  float: none;
  padding: 0;
}
#login-failed {
  display: none;
  max-width: none;
}
#login-failed,
.pass-reset,
#password-expiration {
  border: 0;
  padding: 0;
  margin: 0;
  -moz-border-radius: 7px;
  border-radius: 0;
  color: inherit;
  background-color: transparent;
  max-width: none;
}
#licenseAgreements {
  text-align: inherit;
  margin-top: 0;
  font: normal;
  color: inherit;
}
#blanket {
  background: 0;
  position: static;
  z-index: auto;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  text-align: inherit;
  white-space: normal;
  padding: 0;
}
#licenseDiv {
  background-color: transparent;
  z-index: auto;
  width: auto;
  height: auto;
  margin: 0;
  max-width: none;
  max-height: none;
  border: 0;
  -moz-border-radius: 3px;
  border-radius: 0;
  -moz-box-shadow: 0 0 9px #69707a;
  -webkit-box-shadow: 0 0 9px #69707a;
  box-shadow: none;
}
#licenseTitle {
  background-color: transparent;
  color: inherit;
  font: normal;
  text-align: inherit;
  padding: 0;
  display: block;
  height: auto;
}
#licenseFileName {
  display: inline-block;
  float: none;
}
#closeButton {
  float: none;
  white-space: normal;
  background-color: transparent;
}
#licenseFile {
  color: inherit;
  width: 100%;
  width: auto;
  height: 95%;
  height: auto;
  overflow: visible;
  max-width: none;
  max-height: none;
  border: 0;
  white-space: normal;
}
pre {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: keep-all;
  text-align: inherit;
  padding: 0;
  width: 98%;
  width: auto;
}
#licenseFooter {
  background-color: transparent;
  color: inherit;
  font: normal;
  text-align: inherit;
  padding: 0;
}
#webStartLogin {
  color: inherit;
  font: normal;
  text-align: inherit;
  display: inline-block;
}
#webStartLogin.webStartJnlpDownloadHidden {
  display: none;
}
.webstartVersionWarning {
  font-weight: normal;
  padding: 0;
  border: 0;
  background-color: transparent;
  -moz-border-radius: 3px;
  border-radius: 0;
}
@media screen and (max-width: 480px) {
  #login-image {
    display: none;
  }
  #login-form {
    padding: 0;
  }
  .login-group {
    display: block;
    padding-bottom: 0;
  }
  .login-input,
  #login-submit,
  #login-failed {
    font-size: medium;
  }
  .login-change-user {
    font-size: medium;
  }
}
@media screen and (min-width: 481px) {
  body.touch-enabled .login-input,
  body.touch-enabled #login-submit,
  body.touch-enabled #login-failed {
    font-size: medium;
  }
  body.touch-enabled .login-change-user {
    font-size: medium;
  }
  body.touch-enabled #login-image {
    display: none;
  }
}
@media screen and (min-width: 581px) {
  body.touch-enabled .login-input,
  body.touch-enabled #login-submit,
  body.touch-enabled #login-failed {
    font-size: medium;
  }
  body.touch-enabled .login-change-user {
    font-size: medium;
  }
  body.touch-enabled #login-image {
    display: none;
  }
}
@media screen and (min-width: 681px) {
  body.touch-enabled .login-input,
  body.touch-enabled #login-submit,
  body.touch-enabled #login-failed {
    font-size: medium;
  }
  body.touch-enabled .login-change-user {
    font-size: medium;
  }
  body.touch-enabled #login-image {
    display: none;
  }
}
#jnlp-download-page-continer {
  font-family: inherit;
  font-size: medium;
  margin: 0;
}
#jnlp-download-title-container {
  background: 0;
  font-size: medium;
  font-weight: normal;
  color: inherit;
  padding: 0;
  border: 0;
  -moz-border-radius: 3px;
  border-radius: 0;
  -moz-box-shadow: 0 0 9px #69707a;
  -webkit-box-shadow: 0 0 9px #69707a;
  box-shadow: none;
}
#jnlp-downloading-file-msg {
  font-weight: normal;
  padding-top: 0;
}
#jnlp-download-instructions-container {
  text-align: inherit;
  margin-left: 0;
}
.jnlp-download-instruction {
  display: block;
  padding-top: 0;
}

body {
  font-family: "roboto", sans-serif;
  background: url(http://starkovtattoo.spb.ru/images/000/DSC100041536.jpg) no-repeat center center ;
}

#outer-login-form-container {
  width: 350px;
  margin: 2% auto 0 auto;
  display: block;
}

@media screen and (max-width: 400px) {
  #outer-login-form-container {
    width: auto;
  }
}

#login-logo-container {
  text-align: center;
  margin-bottom: 15px;
}

#login-form-container {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0;
  margin-bottom: 30px;
  background: white;
}

#login-title-container {
  background: #3498db;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
}

#login-title {
  color: #ffffff;
  padding: 15px 20px;
  font-size: 20px;
}

#login-failed {
  display: none;
  background-color: #e74c3c;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
}

#login-image {
  display: none;
}

#login-credentials {
  width: 70%;
  margin: 30px auto 0 auto;
}

#login-credentials .login-group {
  width: 100%;
  display: block;
}

#login-credentials .login-group:first-of-type {
  float: left;
}

#login-credentials .login-label {
  font-size: 10px;
  text-transform: uppercase;
  display: inline;
  color: #3498db;
}

#login-credentials .login-input {
  padding: 10px 0;
  display: block;
  margin: 3px 0 30px 0;
  border: none;
  width: 100%;
  border-bottom: solid 1px #3498db;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 98%,
    #3498db 4%
  );
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #3498db 4%);
  background-position: -500px 0;
  background-size: 500px 100%;
  background-repeat: no-repeat;
}

#login-credentials .login-input[readonly] {
  background: ghostwhite;
  font-style: italic;
  text-indent: 45px;
}

#login-credentials .login-input:focus,
.login-input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

#login-credentials .login-change-user {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAARCQAAEQkAGJrNK4AAAAB3RJTUUH4AkVDgodIzDdpwAAAvpJREFUWMOtl1uITlEUx3/zZWZyJ2FcouRapKwXD8glNMOLQkSESEkSSfIkKXnCA0WT+4OHeZNLJrfc4u9SIsk1pUlIDGbKjJd1tPuc2d855tt1Wnvttdbe/7P32nv/dwU5ipnVAfMBA0YAfd30BXgN3AfOSTqXtc+KjAPvAbZn9feyV9L2TgEws0XA2RTTFeAJ0OT6QGA8MCPFd5mkM7kBmNkxYGXQdAvYJeliCdBzgJ3A1KD5pKQVmQGY2SVgtqstQK2kKznzZTpwCahMZk3SzJIAzKweWOXqc0lj6UQxs6fAOFdPS1reIQAzWwA0lGvwoN8XwEhX6ySd/weAmVUCra5+l9STMhYzawGqXO0q6RdAIfDZEdQXZOy0xsxqMmKYHNQ3p81Au1cfSppUYuBDwPqi5iOS1pWIewMMd7VaUmvBDbMDv92RDqrMrDllcIC1ZtZaYhaWBPUx4RLUJq2SGiIdNADdIvZKM3vUkVHSHeCHq6tDAFNcPoj8fR9gXoa1nmhmsRP2s8vFIYDRLl9HAmtyJP2giO2dy8EhgN4uv0YCq3MAGBaxvQ2VBMBvl10igS05AMRmslsagA8uB0QCP+YAEPMdmwbgsctxnnBbzWx0UQZ/ygjil6S2iD0hMTdDAI0uh5vZcWAfcColOMsJWVfC3t/lUYCCmVUXJUZyb7el7OObQRanlabYtW1me4PT93KSdC+BISn+7ZE1bE65yttLbD+AjQmHlPQ+WYKLeW41ST+B/Smmq5LaI39/FOjq6ty/SShpjR/F33LgWJjSNqpEzFKXryTdI9z3ki4AvczsJLC8A7IyANgCbOtgeYaaWRuwCzgkqanIPgvYVMQzUynZBKAeOCjphCfpAWBdTg5SD2xIiMf/0vJpwLVOkqFan+HctHwqcL1MjGyapBtphkIkqLGMlPC6mRXyAqikvKVLXgDPyjj4Z0mteQFMAm6XYfC7kvr99+vYt+F6YLo/QvsB3YEezvMrnCs0+/fJH603gMOSmmP9/wHQ9+1o3ZaTOwAAAABJRU5ErkJggg==")
    no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
  top: 24px;
  left: 4px;
}

#login-credentials .login-change-user a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0px;
}

#login-submit {
  color: #ffffff;
  margin: 40px auto;
  display: block;
  border: none;
  background: #3498db;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px;
  width: 80%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#licenseTitle #licenseFileName {
  color: #ffffff;
  float: left;
  margin-right: 5px;
  font-size: 12px;
}

#licenseTitle #closeButton {
  cursor: pointer;
}

#licenseFile {
  width: 100%;
  background: white;
  border: dotted 1px black;
  overflow-y: hidden;
}

#licenseAgreements {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
}

#licenseAgreements a {
  color: #ffffff;
}

#webStartLogin {
  width: 350px;
  margin: 0 auto;
  color: #545454;
  border: solid 1px rgba(0,0,0,0.19607843137254902);
  background: #f5f5f5;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  display: block;
}

#webStartLogin a {
  color: #545454;
}

#jnlp-download-page-continer {
  background: white;
  width: 350px;
  margin: 5% auto 0 auto;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

#jnlp-download-title-container {
  color: #ffffff;
  background: #3498db;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);
}

#jnlp-download-instructions-container {
  font-size: 12px;
  padding: 15px;
}

#jnlp-download-instructions-container a {
  color: black;
}

#jnlp-download-instructions-container > ul {
  margin: 0;
  padding: 0;
}

.jnlp-download-instruction {
  padding-top: 10px;
}

.jnlp-download-instruction:last-of-type {
  padding: 0;
}
